
#Choose{
    font-size: 20px;
    font-weight: bold;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3rem;

}